<% content_for :meta do %>
  <title>The story - <%= Site.title %></title>
  <meta name="keywords" content="<%= Site.meta_keywords %>"> 
  <meta name="description" content="<%= Site.meta_description %>">
<% end %>

<% content_for :navigation do %>
  <%= partial :default_menu %>
<% end %>

<div class="post_detail"></div>
<h2>The story of We the Creatives</h2>
<p>
  Launched in 2010, We the Creatives is a website about creativity, technology, life and the passionate and inspiring people.
</p>
<p>
  It features articles and interviews with creative people such as writers, programmers, designers, photographers and musicians. 
</p>
<p>
  The website is created and curated by Kristian Laustsen and is fully <a href="/run-by-you">user supported</a>.
</p>
