<% content_for :meta do %>
  <title>Contact - <%= Site.title %></title>
  <meta name="keywords" content="<%= Site.meta_keywords %>"> 
  <meta name="description" content="<%= Site.meta_description %>">
<% end %>

<% content_for :navigation do %>
  <%= partial :default_menu %>
<% end %>

<div class="post_detail"></div>
<h2>Send us a mail at <a href="mailto:&#104;&#101;&#108;&#108;&#111;&#064;&#119;&#101;&#116;&#104;&#101;&#099;&#114;&#101;&#097;&#116;&#105;&#118;&#101;&#115;&#046;&#099;&#111;&#109;">&#104;&#101;&#108;&#108;&#111;&#064;&#119;&#101;&#116;&#104;&#101;&#099;&#114;&#101;&#097;&#116;&#105;&#118;&#101;&#115;&#046;&#099;&#111;&#109;</a></h2>