<% content_for :meta do %>
  <title>Great books - <%= Site.title %></title>
  <meta name="keywords" content="<%= Site.meta_keywords %>"> 
  <meta name="description" content="<%= Site.meta_description %>">
<% end %>

<% content_for :navigation do %>
  <%= partial :default_menu %>
<% end %>

<div class="post_detail"></div>
<h2>Great books</h2>
<p>Books by <a href="/talks/leo-babauta">Leo Babauta</a></p>
<p>
  <a href="https://www.e-junkie.com/ecom/gb.php?ii=329069&amp;c=ib&amp;aff=152524&amp;cl=10747" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','www.e-junkie.com']);" target="ejejcsingle">The Simple Guide to a Minimalist Life </a>
</p>
<p>
  <a href="https://www.e-junkie.com/ecom/gb.php?ii=88489&amp;c=ib&amp;aff=152524&amp;cl=10747" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','www.e-junkie.com']);" target="ejejcsingle">Zen Habits Handbook for Life</a>
  </p>
  <p>
  <a href="https://www.e-junkie.com/ecom/gb.php?ii=56260&amp;c=ib&amp;aff=152524&amp;cl=10747" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','www.e-junkie.com']);" target="ejejcsingle">Zen to Done</a>
  </p>