<% content_for :meta do %>
  <title>Run by you - <%= Site.title %></title>
  <meta name="keywords" content="<%= Site.meta_keywords %>"> 
  <meta name="description" content="<%= Site.meta_description %>">
<% end %>

<% content_for :navigation do %>
  <%= partial :default_menu %>
<% end %>

<div class="post_detail"></div>
<h2>This website is run by you</h2>
<p>
  It's costly to run a website.
  </p>
<p>
  Not just money, since technology and services are fairly cheap today, but time. It takes a lot of time to keep it fresh and to write interesting articles. Although I love writing and mainly do this website for my own I don't mind getting support from anyone who appreciate the content. There's a few ways you can support this website and keep it running for years to come.
</p>
<p>
  <strong>1.</strong> Donate a few bucks, a euro or some Swedish crowns.
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="hidden" name="hosted_button_id" value="MBWQPQZNXSPWQ">
  <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
  <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
  </form>
  <br />
</p>
<p>
  <strong>2.</strong> Buy some of the <a href="/great-books">great books</a> written by people interviewed by me. It will bring me some percentages of the revenues.
</p>
<p>
  <strong>3.</strong> Like us on Facebook.
</p>

<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FWe-the-Creatives%2F162848810412769&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>

<p>
  <strong>4.</strong> Follow me on twitter <a href="http://twitter.com/klaustsen">@klaustsen</a> and talk about this website #wethecreatives.

<p>
  <strong>5.</strong> Give your friends a holler about this website.
</p>
